body {
    background: #111;
}

img {
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.img-one {
    position: relative;
    top: 0;
    left: 0;
    transition: transform 1s ease-in-out;
    cursor: pointer;
}

.img-two, .img-three, .img-four {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s ease-in-out;
    cursor: pointer;
}

.img-one-go {
    transform: translate(120px, -110px);
}
.img-two-go {
    transform: translate(-120px, -110px);
}
.img-three-go {
    transform: translate(-120px, 110px);
}
.img-four-go {
    transform: translate(120px, 110px);
}